@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
    /* The rubric assesses various aspects of the BMI Calculator, starting with variable declaration. It awards points based on whether variables are declared, input validation, and the implementation of a BMI calculation function. Additional points are awarded for the functionality of writing answers to the Document Object Model (DOM), formatting output to specified decimal places, and the responsiveness of onclick events. Styling is also considered, with points given for attempts and quality of styling. Additionally, responsiveness and deployment on platforms like GitHub and Netlify are evaluated. Time management is crucial, with points deducted for late submissions or missed deadlines. Overall, attention to detail in coding, functionality, styling, and deployment, within the given time frame, determines the final score. */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(15deg, #30e9ff, #0d0551);
}   

.container{
    position: relative;
    width: 400px;
    /* background: linear-gradient(245deg, #30e9ff, #0d0551); */
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
}

.container h2{
    color: #0d0551;
    font-weight: 600;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
