@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variable Declaration (2 points): All variables have been properly declared, ensuring clarity and organization in the code structure.

Input Validation (2 points): Thorough input validation has been implemented, preventing crashes and ensuring the program can handle various inputs gracefully.

Function for BMI (2 points): A well-functioning BMI calculation function has been implemented without errors, providing accurate results.

All Functions Write Answer to DOM (2 points): Functions correctly write output to the DOM in all instances, enhancing user interaction and readability.

Output Formatted to Specified Decimal Places (2 points): All output is formatted according to the specified decimal places, improving the presentation of results.

Onclick Event (2 points): The onclick event functions as expected, ensuring smooth user interaction and engagement with the program.

Styling (2 points): Excellent styling has been applied, enhancing the visual appeal and user experience of the task.

Responsiveness (2 points): All features of the task are responsive, ensuring usability across different devices and screen sizes.

Deployment (2 points): The work has been correctly deployed and functions well on both Github and Netlify, allowing easy access and testing.

Time Management (2 points): The work was submitted on time, reflecting effective time management and adherence to deadlines. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
